<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd   http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
    <!--<import resource="dispatcher-servlet.xml"/>-->
    <context:component-scan base-package="org.yawlfoundation"/>
    <context:annotation-config/>

    <bean id="zkFactory" class="org.yawlfoundation.plugin.ZkClientFactory">
        <constructor-arg value="127.0.0.1:2181"/>
        <constructor-arg value="yawl"/>
    </bean>
    <!--<bean id="dynamicPersistenceManager" class="org.yawlfoundation.plugin.persistX.DynamicSourcePersistenceManager"/>-->
</beans>