<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1">

    <context-param>
        <param-name>MAX_WORKER</param-name>
        <param-value>1</param-value>
    </context-param>
    <context-param>
        <param-name>MIN_BACKUP</param-name>
        <param-value>0</param-value>
    </context-param>

    <context-param>
        <param-name>EngineServiceName</param-name>
        <param-value>cluster</param-value>
    </context-param>

    <context-param>
        <param-name>EngineServicePassword</param-name>
        <param-value>cluster</param-value>
    </context-param>

    <servlet>
        <servlet-name>cluster</servlet-name>
        <servlet-class>cluster.gateway.ManagementServer</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>cluster</servlet-name>
        <url-pattern>/service/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-class>cluster.hostTester.TesterServer</servlet-class>
        <servlet-name>testserver</servlet-name>
    </servlet>
    <servlet-mapping>
        <servlet-name>testserver</servlet-name>
        <url-pattern>/test/*</url-pattern>
    </servlet-mapping>


</web-app>