<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <context-param>
        <param-name>MAX_WORKER</param-name>
        <param-value>10</param-value>
    </context-param>
    <context-param>
        <param-name>MIN_BACKUP</param-name>
        <param-value>0</param-value>
    </context-param>


    <servlet>
        <servlet-name>cluster</servlet-name>
        <servlet-class>cluster.ManagementServer</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>cluster</servlet-name>
        <url-pattern>/service/*</url-pattern>
    </servlet-mapping>
</web-app>